body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
 

  .bg-img {
    /* The image used */
    background-image: url("/public/images/private.jpeg");

    height: 50%;
  width: 60%;
  position: fixed;
  overflow-x: hidden;
  padding-top: 20px;
  right: 0;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Add styles to the form container */
  .container {
    height: 50%;
  width: 45%;
  overflow-x: hidden;
  padding-top: 90px;
  margin-left: -3%;
  left: 0;

    position: absolute;
    padding: 100px;
  
  }

  .container >h1{
    margin-bottom: 10%;
    text-align: center;
    color: rgb(255, 0, 136);
    font-family: cursive;
    font-size: 50px;
    
  }

  .nameContainer{
    padding-top: 5%;
    padding-bottom: 15%;
  }

  .pswContainer{
    padding-bottom: 10%;
    
  }

  .smallText{
    margin-bottom: 3%;
    font-size: 100%;
    
  }

  /* Full-width input fields */
    input[type=text], input[type=password] {
    /* padding: 15px; */
    /* margin: 10px 100 22px 0; */
    border: none;
    background: #f1f1f1;
    width: 100%;
    outline: none;
    padding: 8px 20px;
 
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  
  /* Set a style for the submit button */
  .private_btn {
    background-color: rgb(255, 0, 136);
    color: white;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    text-align: center;
    margin-left: 20%;
    margin-top: 5%;
    position: absolute;
  }
  
  .private_btn:hover {
    opacity: 1;
  }


@media only screen and (display-mode: fullscreen) {


}


  /* Tablet Size */

  @media only screen and (max-width: 850px) {
  .bg-img {
    /* Control the height of the image */
    width: 105%;
    height: 35%;
    right: -5%;
    object-fit: cover;  
    position: fixed;
    margin-top: -2%;
  }

  .container {
    padding: 100px;
    margin-top: 5%;
    margin-right: 10%;
    height: 100%;
    width: 110%;
    background-color: rgba(255, 255, 255, 0.256);
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    border: none;
    background: #f1f1f1;
    width: 90%; 
  }

  .smallText{
    font-size: 100%;
  }

  .nameContainer{
    padding-bottom: 10%;
    padding-top: 0%;
  }

  /* Set a style for the submit button */
  .private_btn {
    background-color: rgb(255, 0, 136);
    color: white;
    padding: 15px 50px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    text-align: center;
    margin-left: 20%;
    margin-top: 0%;
  }


}